
.about {

  font-size: clamp(0.95rem, 2vw, 1.1rem);
  line-height: 1.6;
  background: rgba(241, 7, 7, 0.05);
  border-radius: 20px;
  padding: 40px;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  backdrop-filter: blur(5px);
}
